<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Usage:
  roslaunch camera_driver_with_opencv camera_polling.launch fps:=4 camera_index:=0
  -->

  <!-- Arguments -->
  <!-- FPS. -->
  <arg name="fps" default="30.0"/>
  <!-- Camera index. -->
  <arg name="camera_index" default="0"/>
  <!-- Camera upside down. -->
  <arg name="upside_down" default="false"/>

  <!-- Run driver -->
  <node name="camera_driver" pkg="camera_driver_with_opencv" type="camera_node" output="screen">
    <param name="fps" value="$(arg fps)"/>
    <param name="camera_index" value="$(arg camera_index)"/>
    <param name="upside_down" value="$(arg upside_down)"/>
  </node>
</launch>
